<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5">
    <div class="col">
        <h2 th:text="|${session.loginName}님 안녕하세요|"></h2>
        <a href="/members">회원목록</a> <br>
        <a th:href="@{|/member/${session.loginId}|}">마이페이지</a> <br>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
</html>