<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="row m-5">
    <div class="col">
        <div class="card p-5">
            <form id="member-update-form" action="/member/update" method="post">
                <input name="id" type="hidden" class="form-control" th:value="${member.id}">
                <div class="input-group mb-3">
                    <span class="input-group-text">이메일</span>
                    <input name="memberEmail" type="text" class="form-control" th:value="${member.memberEmail}" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">이름</span>
                    <input name="memberName" type="text" class="form-control" th:value="${member.memberName}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">생년월일</span>
                    <input name="memberBirth" type="date" class="form-control" th:value="${member.memberBirth}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">전화번호</span>
                    <input name="memberMobile" type="text" class="form-control" th:value="${member.memberMobile}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">비밀번호 입력</span>
                    <input name="memberPassword" type="password" class="form-control">
                </div>
                <div class="text-end">
                    <input type="button" class="btn btn-outline-secondary" value="홈화면" th:onclick="to_detail([[${member.id}]])">
                    <input type="reset" class="btn btn-outline-warning" value="초기화">
                    <input type="button" class="btn btn-outline-primary" value="수정" onclick="update_member()">
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    function to_detail(id){
        location.href = "/member/"+id;
    }

    /*
    const update_member = () =>{
        const password = [[${member.memberPassword}]];
        const memberPassword = document.querySelector('[name="memberPassword"]').value;

        const memberUpdateForm = document.getElementById("member-update-form");
        if(memberPassword == password){
            if(confirm("수정하시겠습니까?")){
                memberUpdateForm.submit();
            }
        }else {
            alert("비밀번호가 다릅니다.")
        }
    }
    */

    const update_member = () => {
        const password = [[${member.memberPassword}]];
        const memberPassword = document.querySelector('[name="memberPassword"]').value;
        const id = document.querySelector('[name="id"]').value;
        const email = document.querySelector('[name="memberEmail"]').value;
        const name = document.querySelector('[name="memberName"]').value;
        const mobile = document.querySelector('[name="memberMobile"]').value;
        const birth = document.querySelector('[name="memberBirth"]').value;
        if(memberPassword == password){
            if(confirm("수정하시겠습니까?")){
                axios({
                    method:"put",
                    url:`/member/${id}`,
                    data:{id :id,
                        memberEmail : email,
                        memberPassword : memberPassword,
                        memberName : name,
                        memberBirth : birth,
                        memberMobile : mobile
                    }
                }).then(res => {
                    alert("정보수정이 완료되었습니다.")
                    location.href = `/member/main/${id}`
                }).catch(err => {
                    alert("정보수정에 실패하였습니다.")
                });
            }
        }else {
            alert("비밀번호가 다릅니다.")
        }
    }
</script>
</html>